*{
    font-family: sans-serif;
    background-color: darkkhaki;
}
nav{
    max-width: inherit;
    margin: auto;
    padding: 10px 0;
    margin-right: 0%;
}

nav>a{
    padding: 5px;
    margin-right: 0;
    display: block;
    background-color: sandybrown;
    color: grey;
    text-decoration: none;
    text-transform: capitalize;
}
h1{
    font-family: fantasy;
    font-style: oblique;
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    color: black;
}

#Home{
    display: inherit;
}
#About{
    display: inherit;
    text-align: left;
    font-family: inherit;
    font-weight: medium;
}
#Services{
    text-align: justify;
}
#Reviews{
    text-align: justify;
    text-decoration: inherit;
    font-size: inherit;
}
img{
    float: initial;
}
h2{
    font-style: italic;
}